/* 
    PC screen
*/

@media (min-width: 1007px) {
    .about-wrapper{
        background: url("../../img/pic3.jpg") no-repeat center;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        /* height: 70vh; */
        height: 70vh;
        z-index: 10;
        /* background-color: lightgray; */
    }
    
    .about-container{
        display: flex;
        flex-direction: row;
        padding: 5%;
        background-color: black;
    }
    
    .about-container_1{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 300px;
    }
    
    .about-container_1_mission{
        margin-bottom: 100px;
    }
    
    .about-container_1_mission h2{
        color: lightgray;
        font-weight: bolder;
        font-size: 50px;
    }
    
    .about-container_1_mission span{
        color: rgb(182, 182, 182);
        display: block;
        margin-top: 30px;
        font-size: 17px;
        font-weight: initial;
    /*     letter-spacing: 0px;
        word-spacing: px; */
    }
    
    .about-container_1_vision{
        padding-right: 80px;
    }
    
    .about-container_1_img{
        position: absolute;
        /* background-color: rgba(211, 211, 211, 0.247); */
        background-color: transparent;
        height: 300px;
        width: 400px;
        margin-top: 600px;
    }

    .about-container_1_img img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    .about-container_1_vision h2{
        color: lightgray;
        font-size: 40px;
        font-weight: bold;
        font-family: serif;
    }
    
    .about-container_1_vision span{
        color: rgb(182, 182, 182);
        display: block;
        display: block;
        font-size: 16px;
        margin-top: 30px;
    }
    
    
    .about-container_2{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        width: 100%;
        /* padding-left: 15%; */
    }
    
    .about-container_2 p{
        margin-bottom: 100px;
        width: 50%;
        color: grey;
        font-size: 15px;
        line-height: 30px;
    }
    
    
    .members_section{
        background-color: #000;
        padding: 2% 5%;
        padding-bottom: 100px;
    }
    
    .members_section_main_title{
        color: rgb(182, 182, 182);
        font-weight: bold;
        font-family: poppins,sans-serif;
        text-transform: capitalize;
        letter-spacing: 1px;
        font-size: 20px;
        margin-bottom: 100px;
    }
    
    .members_section_member_container_main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: transparent;
        height: 300px;
    }
    
    .members_section_member_container_main section{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        width: 50%;
        margin: 0px 10px;
    }
    
    .members_section_member_container_main_image_section{
        display: block;
        background-color: darkslategray;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    
    .members_section_member_container_main_image_section img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
    
    .members_section_member_container_main_information_section{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: transparent;
        width: 50%;
        padding-left: 5%;
        padding: 50px;
    }
    
    .members_section_member_container_main_information_section .name{
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        color: lightslategray;
    }
    
    .members_section_member_container_main_information_section .role{
        text-transform: capitalize;
        font-size: 14px;
        font-weight: initial;
        font-family: poppins,sans-serif;
        padding-top: 5px;
        color: grey;
    }
    
    .members_section_member_container{
        display: block;
        text-align: center;
    /*     flex-direction: row;
        justify-content: center;
        flex-wrap: wrap; */
        height: 280px;
        /* background-color: rgba(173, 216, 230, 0.199); */
        background-color: transparent;
        cursor: move;
        overflow: hidden;
        padding: 0px 30px;
    }
    
    
    .members_section_member{
        display: inline-block;
        background-color: rgba(211, 211, 211, 0.144);
        border-radius: 10px;
        height: 250px;
        width: 230px;
        margin: 20px 0px;
        padding: 40px 0px;
    }
    
    
    .members_section_member_thumbnail{
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 75%;
        margin-bottom: 10px;
    }
    
    .members_section_member_info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .members_section_member_info span{
        text-decoration: none;
        font-family: "poppins",sans-serif;
        text-align: center;
        text-transform: capitalize;
        font-size: 18px;
        font-weight: bold;
        color: lightslategray;
    }
    
    .members_section_member_info .members_section_member_info_titles{
        font-family: poppins,sans-serif;
        text-align: center;
        text-transform: capitalize;
        font-size: 13px;
        font-weight: initial;
        padding-top: 5px;
        color: grey;
    }   
}





/* 
    tablet
    screen
*/


@media (max-width: 1000px) {
    .about-wrapper{
        background: url("../../img/pic3.jpg") no-repeat center;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 50vh;
        z-index: 10;
        /* background-color: lightgray; */
    }
    
    .about-container{
        display: flex;
        flex-direction: row;
        padding: 5%;
        background-color: black;
    }
    
    .about-container_1{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 300px;
    }
    
    .about-container_1_mission{
        margin-bottom: 100px;
    }
    
    .about-container_1_mission h2{
        color: lightgray;
        font-weight: bolder;
        font-size: 50px;
    }
    
    .about-container_1_mission span{
        color: rgb(182, 182, 182);
        display: block;
        margin-top: 30px;
        font-size: 17px;
        font-weight: initial;
    /*     letter-spacing: 0px;
        word-spacing: px; */
    }
    
    .about-container_1_vision{
        padding-right: 80px;
    }
    
    .about-container_1_img{
        position: absolute;
        /* background-color: rgba(211, 211, 211, 0.247); */
        background-color: transparent;
        height: 300px;
        width: 300px;
        margin-top: 600px;
    }
    
    .about-container_1_img img{
        width: 100%;
        height: 100%;
        object-fit: contain;

    }

    .about-container_1_vision h2{
        color: lightgray;
        font-size: 40px;
        font-weight: bold;
        font-family: serif;
    }
    
    .about-container_1_vision span{
        color: rgb(182, 182, 182);
        display: block;
        display: block;
        font-size: 16px;
        margin-top: 30px;
    }
    
    
    .about-container_2{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        width: 100%;
        /* padding-left: 15%; */
    }
    
    .about-container_2 p{
        margin-bottom: 100px;
        width: 50%;
        color: grey;
        font-size: 15px;
        line-height: 30px;
    }
    
    
    .members_section{
        background-color: #000;
        padding: 2% 5%;
        padding-bottom: 100px;
    }
    
    .members_section_main_title{
        color: rgb(182, 182, 182);
        font-weight: bold;
        font-family: poppins,sans-serif;
        text-transform: capitalize;
        letter-spacing: 1px;
        font-size: 20px;
        margin-bottom: 100px;
    }
    
    .members_section_member_container_main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: transparent;
        height: 300px;
    }
    
    .members_section_member_container_main section{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        width: 50%;
        margin: 0px 10px;
    }
    
    .members_section_member_container_main_image_section{
        display: block;
        background-color: darkslategray;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    
    .members_section_member_container_main_image_section img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
    
    .members_section_member_container_main_information_section{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: transparent;
        width: 100%;
        padding-left: 5%;
        padding: 50px;
    }
    
    .members_section_member_container_main_information_section .name{
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        color: lightslategray;
    }
    
    .members_section_member_container_main_information_section .role{
        text-transform: capitalize;
        text-align: center;
        font-size: 14px;
        font-weight: initial;
        font-family: poppins,sans-serif;
        padding-top: 5px;
        color: grey;
    }
    
    .members_section_member_container{
        display: block;
        text-align: center;
    /*     flex-direction: row;
        justify-content: center;
        flex-wrap: wrap; */
        height: 280px;
        /* background-color: rgba(173, 216, 230, 0.199); */
        background-color: transparent;
        cursor: move;
        overflow: hidden;
        padding: 0px 30px;
    }
    
    
    .members_section_member{
        display: inline-block;
        background-color: rgba(211, 211, 211, 0.144);
        border-radius: 10px;
        height: 250px;
        width: 230px;
        margin: 20px 0px;
        padding: 40px 0px;
    }
    
    
    .members_section_member_thumbnail{
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 75%;
        margin-bottom: 10px;
    }
    
    .members_section_member_info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .members_section_member_info span{
        text-decoration: none;
        font-family: "poppins",sans-serif;
        text-align: center;
        text-transform: capitalize;
        font-size: 18px;
        font-weight: bold;
        color: lightslategray;
    }
    
    .members_section_member_info .members_section_member_info_titles{
        font-family: poppins,sans-serif;
        text-align: center;
        text-transform: capitalize;
        font-size: 13px;
        font-weight: initial;
        padding-top: 5px;
        color: grey;
    }      
}








/* 
    mobile
    screen
*/


@media (max-width: 690px) {
    .about-wrapper{
        background: url("../../img/pic3.jpg") no-repeat center;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 50vh;
        z-index: 10;
        /* background-color: lightgray; */
    }
    
    .about-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5%;
        padding-top: 100px;
        background-color: black;
    }
    
    .about-container_1{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px 10%;
        padding-bottom: 100px;
    }
    
    .about-container_1_mission{
        margin-bottom: 100px;
        width: 300px;
    }
    
    .about-container_1_mission h2{
        color: lightgray;
        font-weight: bolder;
        font-size: 50px;
    }
    
    .about-container_1_mission span{
        color: rgb(182, 182, 182);
        display: block;
        margin-top: 30px;
        font-size: 17px;
        font-weight: initial;
    /*     letter-spacing: 0px;
        word-spacing: px; */
    }
    
    .about-container_1_vision{
        padding: 20px;
        border-radius: 10px;
        border: 1px solid silver;
    }
    
    .about-container_1_img{
        position: relative;
        margin-top: 50px;
        height: 300px;
        width: 100%;
    }
    
    .about-container_1_img img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .about-container_1_vision h2{
        color: lightgray;
        font-size: 40px;
        font-weight: bold;
        font-family: serif;
    }
    
    .about-container_1_vision span{
        color: rgb(182, 182, 182);
        display: block;
        display: block;
        font-size: 16px;
        margin-top: 30px;
    }
    
    
    .about-container_2{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        width: 100%;
        /* padding-left: 15%; */
    }
    
    .about-container_2 p{
        margin-bottom: 100px;
        width: 50%;
        color: grey;
        font-size: 15px;
        line-height: 30px;
        padding: 30px 0px;
    }
    
    
    .members_section{
        padding: 2% 10%;
        padding-bottom: 100px;
    }
    
    .members_section_main_title{
        color: rgb(182, 182, 182);
        font-weight: bold;
        font-family: poppins,sans-serif;
        text-transform: capitalize;
        letter-spacing: 1px;
        font-size: 45px;
        text-align: center;
        margin-bottom: 100px;
    }
    
    .members_section_member_container_main{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px;
    }
    
    .members_section_member_container_main section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        width: 100%;
        height: 200px;
    }
    
    .members_section_member_container_main_image_section{
        display: block;
        background-color: darkslategray;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    
    .members_section_member_container_main_image_section img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
    
    .members_section_member_container_main_information_section{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: transparent;
        width: 50%;
        padding-left: 5%;
        padding: 50px;
    }
    
    .members_section_member_container_main_information_section .name{
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        color: lightslategray;
    }
    
    .members_section_member_container_main_information_section .role{
        text-transform: capitalize;
        font-size: 14px;
        font-weight: initial;
        font-family: poppins,sans-serif;
        padding-top: 5px;
        color: grey;
    }

    .members_section22{
        display: none;
    }
    
    .members_section_member_container{
        display: block;
    /*     flex-direction: row;
        justify-content: center;
        flex-wrap: wrap; */
        height: 280px;
        /* background-color: rgba(173, 216, 230, 0.199); */
        background-color: lightblue;
        cursor: move;
        overflow: hidden;
        display: none;
    }
    
    
    .members_section_member{
        display: inline-block;
        background-color: transparent;
        height: 250px;
        width: 230px;
        margin: 20px 0px;
    }
    
    
    .members_section_member_thumbnail{
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 75%;
        margin-bottom: 10px;
    }
    
    .members_section_member_info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .members_section_member_info span{
        text-decoration: none;
        font-family: "poppins",sans-serif;
        text-align: center;
        text-transform: capitalize;
        font-size: 18px;
        font-weight: bold;
        color: lightslategray;
    }
    
    .members_section_member_info .members_section_member_info_titles{
        font-family: poppins,sans-serif;
        text-align: center;
        text-transform: capitalize;
        font-size: 13px;
        font-weight: initial;
        padding-top: 5px;
        color: grey;
    }      
}