.shopping_cart_section{
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 3% 5%;
    padding-top: 160px;
}

.cart_main{
    background-color: transparent;
    width: 70%;
}

.cart_main h2{
    text-transform: capitalize;
    font-family: poppins,sans-serif;
    font-size: 40px;
    color: rgb(65, 65, 65);
}

.cartcontainer_main{
    display: flex;
    flex-direction: column;
}

.cart-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
    border-top: 1px solid rgba(192, 192, 192, 0.384);
    width: 100%;
    margin: 20px 0px;
}

.cart_img{
    background-color: transparent;
    width: 200px !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 150px;
}


.cart_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px !important;
    height: 150px;
    padding-left: 20px;
}

.cart_name{
    text-align: left;
    text-transform: capitalize;
    font-family: poppins,sans-serif;
    font-size: 18px;
}

.cart_price{
    font-size: 18px;
    font-weight: bold;
    font-family: poppins,sans-serif;
}

.cart_details span{
    color: lightgray;
}

.cart_quantity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100px;
    height: 150px;
}

.cart_quantity span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    color: rgb(65, 65, 65);
}

.cart_quantity_number{
    background-color: transparent !important;
    color: lightgray !important;
    font-size: 18px;
    font-weight: 50px;
    font-family: poppins,sans-serif;
}

.cart_total{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    color: lightgray;
    height: 150px;
    font-size: 18px;
    font-weight: bold;
    font-family: poppins,sans-serif;
}


.cart_close{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 150px;
}

.cart_close span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.cart_close span i{
    font-size: 15px;
    color: rgb(65, 65, 65);
}


.cart_aside{
    background-color: transparent;
    padding: 20px;
    width: 30%;
}

.cart_summary{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}

.cart_summary div{
    padding: 5px 0px;
}

.cart_summary_subtotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart_summary_shipping{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart_summary_total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart_summary_total span{
    font-weight: bold;
}

.cart_summary div span{
    color: grey;
    font-size: 15px;
    color: darkslategrey;
    text-transform: capitalize;
}

.cart_price_m{
    color: rgb(65, 65, 65) !important;
    font-size: 20px;
    font-family: poppins,sans-serif;
}

.paymentlisting{
    background-color: lightgray;
    /* height: 100px; */
    margin-top: 10px;
    padding: 0px 20px;
    border-radius: 5px;
}

.paymentlisting_heading{
    font-size: 12px;
    color: darkslategray;
}

.paymentlisting_heading::first-letter{
    text-transform: uppercase;
}


.paymentlisting_methodBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
}


.paymentlisting_methodBox span{
    background-color: lightgreen;
    height: 40px;
    width: 80px;
    margin: 5px 5px;
}




.cart_proced_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.cart_proced_section button{
    outline: none;
    border: none;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    font-family: poppins,sans-serif;
    padding: 2px 40px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: 1px solid silver;
    cursor: pointer;
    transition: 0.3s linear;
}

.cart_proced_section button:hover{
    background-color: darkslategray;
    color: white;
    border: 1px solid silver;
    transition: 0.3s linear;
}