@import url("./home_features.css");


@media (min-width: 1100px) {

    .wrapper{
        background-color: transparent;
        height: 100vh;
        z-index: 10;
    }
    
    
    .carousel_container{
        display: flex;
        flex-direction: row;
        /* background: url("../../img/pic1.jpg"); */
        height: 100vh;
        width: 100%;
        padding-top: 60px;
        background-color: wheat;
    }
    
    .carousel_container .note{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 50%;
        background-color: transparent;
    }
    
    .carousel_container .thumbnail_{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 50%;
        padding: 100px;
        background-color: transparent;
    }
    
    
    .carousel_container .thumbnail_ img{
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
    
    
    .home_banner_container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: transparent;
        min-width: 450px;
        max-width: 70%;
        /* height: 50vh; */
        top: 20%;
        left: 10%;
        padding: 30px;
        border-radius: 20px;
        z-index: 2;
    }
    
    .home_banner_container h3{
        text-transform: uppercase;
        font-family: poppins;
        letter-spacing: 1x;
        font-size: 40px;
        color: rgb(36, 36, 36);
        color: white;
    }
    
    .home_banner_container p{
        text-align: left;
        text-transform: capitalize;
        color: rgb(56, 56, 56);
        color: rgb(36, 36, 36);
    }
    
    .home_banner_container button{
        outline: none;
        border: none;
        background-color: lightblue;
        height: 50px;
        width: 50%;
        border-radius: 50px;
        text-transform: capitalize;
        font-weight: initial;
        color: rgb(56, 56, 56);
    }   
}





/* 
    mobile 
    screen
*/

@media (max-width: 1100px) {

    .wrapper{
        background-color: transparent;
        height: 100vh;
        z-index: 10;
    }
    
    
    .carousel_container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20% 0px;
        /* background: url("../../img/pic1.jpg"); */
        height: 100vh;
        width: 100%;
        background-color: rgb(235, 235, 235);
    }
    
    .carousel_container .note{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50vh;
        background-color: transparent;
    }
    
    .carousel_container .thumbnail_{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 70vw;
        height: 60%;
        margin: 60px 170px;
        background-color: transparent;
    }
    
    
    .carousel_container .thumbnail_ img{
        /* transform: scale(1.2); */
        object-fit: contain;
        background-color: transparent;
        width: 100%;
        height: 100%;
    }
    
    
    .home_banner_container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: transparent;
        min-width: 450px;
        max-width: 70%;
        /* height: 50vh; */
        top: 20%;
        left: 10%;
        padding: 30px;
        border-radius: 20px;
        z-index: 2;
    }
    
    .home_banner_container h3{
        text-transform: uppercase;
        font-family: poppins;
        letter-spacing: 1x;
        font-size: 40px;
        color: rgb(36, 36, 36);
        color: white;
    }
    
    .home_banner_container p{
        text-align: left;
        text-transform: capitalize;
        color: rgb(56, 56, 56);
        color: rgb(36, 36, 36);
    }
    
    .home_banner_container button{
        outline: none;
        border: none;
        background-color: lightblue;
        height: 50px;
        width: 50%;
        border-radius: 50px;
        text-transform: capitalize;
        font-weight: initial;
        color: rgb(56, 56, 56);
    } 
}




/* 

    small
    mobile
    screen

*/


@media (max-width: 476px) {

    .wrapper{
        background-color: transparent;
        height: 100vh;
        z-index: 10;
        padding-top: 20%;
    }
    
    
    .carousel_container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* padding: 20% 0px; */
        /* background: url("../../img/pic1.jpg"); */
        height: 100vh;
        width: 100%;
        background-color: rgb(235, 235, 235);
    }
    
    .carousel_container .note{
        display: block;
        width: 100%;
        height: 50vh;
        background-color: transparent;
    }
    
    .carousel_container .thumbnail_{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: 330px;
        margin: 0px;
        /* margin: 60px 170px; */
        padding: 0px 20px;
        background-color: transparent;
    }
    
    
    .carousel_container .thumbnail_ img{
        /* transform: scale(1.2); */
        background-color: transparent;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    
    .home_banner_container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: transparent;
        width: 100%;
        /* height: 50vh; */
        top: 20%;
        left: 10%;
        padding: 00px 20%;
        border-radius: 20px;
        z-index: 2;
    }
    
    .home_banner_container h3{
        text-transform: uppercase;
        text-align: left;
        font-family: poppins;
        letter-spacing: 1x;
        font-size: 40px;
        color: rgb(75, 75, 75);
    }
    
    .home_banner_container p{
        text-align: left;
        text-transform: capitalize;
        color: rgb(56, 56, 56);
        padding-top: 5px;
    }
    
    .home_banner_container button{
        outline: none;
        border: none;
        text-transform: capitalize;
        background-color: lightblue;
        color: rgb(56, 56, 56);
        height: 50px;
        width: 70%;
        border-radius: 50px;
        font-weight: initial;
    }   
}