@import url("../fonts/customes.css");
@import url("./nav.css");
@import url("./home.css");
@import url("./categories.css");
@import url("./about.css");
@import url("./footer.css");
@import url("./orders.css");
@import url("./brands.css");
@import url("./contact.css");
@import url("./Login.css");
@import url("./cart.css");
@import url("./nav_mobile.css");
@import url("./animatons.css");

*{
    font-size: 18px;
    font-family: "poppins",sans-serif;
    color: black;
}

body{
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden; */
/*     opacity: 1;
    transition:all 1s linear; */
}


html{
    scroll-behavior: smooth;
}

button,input,textarea,option,select{
    outline: none;
}
