.dashboard{
  background-color: lightgray;
  height: 100vh;
  overflow: hidden;
}

.DashNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0px 2%;
  background-color: lightgoldenrodyellow;
}

.dash-titles{
    display: flex;
}

.dashLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 80px;
  height: 50px;
}

.dashLogo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dash-titles .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    font-family: poppins, sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    color: rgb(110, 109, 109);
}

.dash-profile {
  display: flex;
  flex-direction: row;
}

.profile-photo {
  display: block;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.profile-user {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-family: poppins, sans-serif;
  font-size: 13px;
  padding-left: 20px;
  cursor: pointer;
}

.profile-user-dropdown {
  display: none;
  position: absolute;
  margin-top: 25px;
  margin-left: 50px;
  padding: 10px 0px;
  padding-left: 20px;
  width: 130px;
  background-color: lightgray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.profile-user:hover .profile-user-dropdown{
display: flex;
}