aside{
    background-color: white;
    height: 100%;
    margin-top: 5px;
    padding: 10px 0px;
    width: 210px;
    padding: 10px;
    padding-left: 1%;
}

aside ul{
    list-style-type: none;
}


aside ul li {
    width: 100%;
    padding: 7% 0px;
    font-size: 16px;
    text-transform: capitalize;
    font-family: poppins, sans-serif;
    cursor: pointer;
}

aside ul li .a{
    text-decoration: none;
    width: 100%;
    padding: 7% 0px;
    font-size: 16px;
    text-transform: capitalize;
    font-family: poppins, sans-serif;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.808);
}


aside ul li .active{
    color: rgb(113, 160, 160);
}

aside ul li:hover{
    color: rgb(113, 160, 160);
}

